*{
    margin: 0;
    padding: 0;
}
.h1{
    text-align: center;
    background-color: gold;
    color: black;
    margin: 15px;
}
.container{
    margin-top: 25px;
}
.button{
    color: white;
    background-color: black;
    padding: 5vh;
    margin: 2px 5px;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
    width: 58px;
    height: 58px;
}
.class{
    padding: 7px 45px;
    margin: 10px;
}
.input{
    padding: 10px 40px;
    margin: 12px;
    background-color: black;
    color: white;
}